*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #010101;
    font-family: "Ubuntu", serif;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.navbar {
    height: 90px;
    background-color: #1a1a1a;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 12px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu_links {
    display: flex;
    gap: 24px;
    border-radius: 1px solid #999999;
    padding-inline: 24px;
}

.menu_links a {
    font-weight: 500;
    color: #999999;
    padding: 8px 16px;
}

.menu_links a:hover {
    color: white;
}

.log_in {
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #999999;
    border-radius: 10px;
    border: 2px solid #0aa5ff;
    transition: 0.2s;
}

.log_in:hover {
    background-color: #0aa5ff;
    color: white;
}

.menu_btn {
    font-size: 32px;
    color: white;
    display: none;
    cursor: pointer;
}

@media (max-width: 53rem) {
    .menu {
        display: none;
    }
    .menu_btn {
        display: block;
    }
}